Simon Bernard <sbernard@sierrawireless.com> sbernard <sbernard@sierrawireless.com>
Simon Bernard <sbernard@sierrawireless.com> Simon Bernard <SBernard@sierrawireless.com>
Benjamin Cabé <bcabe@sierrawireless.com> Benjamin Cabé <BCabe@sierrawireless.com>
Benjamin Cabé <bcabe@sierrawireless.com> Benjamin Cabé <BCabe@sierrawireless.com>
Kevin KIN-FOO <kkinfoo@sierrawireless.com> Kevin KIN-FOO <kkin-foo@sierrawireless.com>
Marc-André Laperle <malaperle@omnialabs.net> Marc-Andre Laperle <malaperle@omnialabs.net>

