<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?><!--
    Copyright (c) 2009, 2011 Sierra Wireless and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
        Sierra Wireless - initial API and implementation
 -->

<plugin>
   <extension
         point="org.eclipse.dltk.core.buildParticipant">
      <buildParticipant
            class="org.eclipse.dltk.core.builder.ParserBuildParticipantFactory"
            id="org.eclipse.koneki.ldt.parser"
            name="Lua parser"
            nature="org.eclipse.koneki.ldt.nature">
      </buildParticipant>
      <buildParticipant
            class="org.eclipse.koneki.ldt.parser.LuaTodoParserType"
            id="org.eclipse.koneki.ldt.todo"
            name="Lua tasks parser"
            nature="org.eclipse.koneki.ldt.nature">
            <requires
            	id="org.eclipse.koneki.ldt.parser">
            </requires>
      </buildParticipant>
     </extension>
   <extension
         point="org.eclipse.dltk.core.sourceElementParsers">
      <parser
            class="org.eclipse.koneki.ldt.parser.LuaSourceElementParser"
            nature="org.eclipse.koneki.ldt.nature"
            priority="1">
      </parser>
   </extension>
   <extension
         point="org.eclipse.dltk.core.sourceParsers">
      <parserContribution
            natureId="org.eclipse.koneki.ldt.nature">
         <parser
               class="org.eclipse.koneki.ldt.parser.LuaSourceParserFactory"
               description="Metalua based Lua source parser"
               id="org.eclipse.koneki.ldt.parser.sourceParser"
               name="sourceParser.name"
               priority="0">
         </parser>
      </parserContribution>
   </extension>
   <extension
         point="org.eclipse.dltk.core.selectionEngine">
      <selectionEngine
            class="org.eclipse.koneki.ldt.parser.LuaSelectionEngine"
            nature="org.eclipse.koneki.ldt.nature"
            priority="0">
      </selectionEngine>
   </extension>
   <!--
   <extension
         point="org.eclipse.dltk.core.search">
      <matchLocator
            class="org.eclipse.dltk.core.search.matching.MatchLocator"
            nature="org.eclipse.koneki.ldt.nature">
      </matchLocator>
   </extension>
   -->
</plugin>
