<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Lua Development Tools" sequenceNumber="19">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.apache.commons.io" version="1.4.0.v20081110-1000"/>
<unit id="org.apache.commons.io.source" version="1.4.0.v20081110-1000"/>
<unit id="org.junit" version="4.8.1.v4_8_1_v20100427-1100"/>
<unit id="org.junit.source" version="4.8.1.v4_8_1_v20100427-1100"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/repository"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="4.2.0.I20120608-1400"/>
<repository location="http://download.eclipse.org/releases/juno"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.dltk.core.sdk.feature.group" version="4.0.0.201206120848"/>
<unit id="org.eclipse.dltk.itcl.sdk.feature.group" version="4.0.0.201206120848"/>
<unit id="org.eclipse.dltk.javascript.sdk.feature.group" version="4.0.0.201206120848"/>
<unit id="org.eclipse.dltk.mylyn.sdk.feature.group" version="4.0.0.201206120848"/>
<unit id="org.eclipse.dltk.python.sdk.feature.group" version="4.0.0.201206120848"/>
<unit id="org.eclipse.dltk.tcl.sdk.feature.group" version="4.0.0.201206120848"/>
<repository location="http://download.eclipse.org/technology/dltk/updates-dev/4.0-stable/"/>
</location>
</locations>
</target>