<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="luaeclipse2" sequenceNumber="15">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="3.6.2.M20110210-1200"/>
<repository location="http://download.eclipse.org/releases/helios"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.dltk.core.sdk.feature.group" version="3.0.0.v20101025-2100-79--90u49KJA5EWnnehvfrBQTf0z"/>
<unit id="org.eclipse.dltk.itcl.sdk.feature.group" version="3.0.0.v20110424-6--84D23CrH_E9FS_KCvLGM87H9J"/>
<unit id="org.eclipse.dltk.javascript.sdk.feature.group" version="3.0.0.v20101125-1247-6--84h23HEEtYdeSOr8CqSGiBBpP"/>
<unit id="org.eclipse.dltk.ruby.sdk.feature.group" version="3.0.0.v20110424-6--84e23ICLpTai-6mICIrTdYP5l"/>
<unit id="org.eclipse.dltk.tcl.sdk.feature.group" version="3.0.0.v20101109-0623-6--84l23HG7z-eiscV0O_l76KD4x"/>
<repository location="http://download.eclipse.org/technology/dltk/updates-dev/3.0"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.apache.commons.io" version="1.4.0.v20081110-1000"/>
<unit id="org.apache.commons.io.source" version="1.4.0.v20081110-1000"/>
<unit id="org.junit" version="4.8.1.v4_8_1_v20100427-1100"/>
<unit id="org.junit.source" version="4.8.1.v4_8_1_v20100427-1100"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/repository"/>
</location>
</locations>
</target>
