<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="luaeclipse2" sequenceNumber="4">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.dltk.core.sdk.feature.group" version="2.0.0.v20090730-1127-5--90U45SFRujYToYq6KvGxbBBpP"/>
<repository location="http://download.eclipse.org/technology/dltk/updates/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="3.6.2.M20110210-1200"/>
<repository location="http://download.eclipse.org/releases/helios"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.junit" version="4.8.1.v4_8_1_v20100427-1100"/>
<unit id="org.junit.source" version="4.8.1.v4_8_1_v20100427-1100"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/repository"/>
</location>
</locations>
</target>
