<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?><!--
    Copyright (c) 2009, 2012 Sierra Wireless and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
        Sierra Wireless - initial API and implementation
 -->

<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.koneki.ldt.editor.LuaEditor"
            contributorClass="org.eclipse.dltk.internal.ui.editor.SourceModuleEditorActionContributor"
            default="false"
            extensions="lua"
            icon="img/lua-logo.gif"
            id="org.eclipse.koneki.ldt.editor"
            name="%editor.name">
         <contentTypeBinding
               contentTypeId="org.eclipse.koneki.ldt.content-type">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.koneki.ldt.editor.internal.text.LuaPreferenceInitializer">
      </initializer>
      <initializer
            class="org.eclipse.koneki.ldt.editor.formatter.ui.LuaFormatterPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.dltk.ui.modelLabelProvider">
      <modelLabelProvider
            class="org.eclipse.koneki.ldt.editor.internal.navigation.LuaLabelProvider"
            id="org.eclipse.koneki.ldt.editor.modelLabelProvider"
            language="org.eclipse.koneki.ldt.nature">
      </modelLabelProvider>
   </extension>
 <extension
         point="org.eclipse.dltk.core.completionEngine">
      <completionEngine
            class="org.eclipse.koneki.ldt.editor.internal.completion.LuaCompletionEngine"
            nature="org.eclipse.koneki.ldt.nature"
            priority="0">
      </completionEngine>
   </extension>
   <extension
         id="LuaTypeCompletionProposalComputer"
         name="%extension.name"
         point="org.eclipse.dltk.ui.scriptCompletionProposalComputer">
      <scriptCompletionProposalComputer
            activate="true"
            categoryId="org.eclipse.dltk.ui.scriptTypeProposalCategory"
            class="org.eclipse.koneki.ldt.editor.internal.completion.LuaCompletionProposalComputer"
            toolkitId="org.eclipse.koneki.ldt.nature">
         <partition
               type="__dftl_partition_content_type">
         </partition>
      </scriptCompletionProposalComputer>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="org.eclipse.koneki.ldt.editor.templates.LuaUniversalTemplateContextType"
            id="LuaUniversalTemplateContextType"
            name="%templates.context.lua">
      </contextType>
       <include
          file="templates/templates.xml"
          translations="templates/templates.properties">
       </include>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.koneki.ldt.ui.globalpreferencepage"
            class="org.eclipse.koneki.ldt.editor.templates.LuaTemplatePreferencePage"
            id="org.eclipse.koneki.ldt.templates.Template"
            name="%preference.templates.name">
      </page>
      <page
            category="org.eclipse.koneki.ldt.ui.globalpreferencepage"
            class="org.eclipse.koneki.ldt.editor.formatter.ui.LuaFormatterPreferencePage"
            id="org.eclipse.koneki.ldt.formatter.preferences"
            name="%preference.formatter.name">
      </page>
      <page
            category="org.eclipse.koneki.ldt.ui.globalpreferencepage"
            class="org.eclipse.koneki.ldt.editor.preference.internal.ui.LuaSmartTypingPreferencePage"
            id="org.eclipse.koneki.ldt.typing.preferences"
            name="%preference.typing.name">
      </page>
      <page
            category="org.eclipse.koneki.ldt.ui.globalpreferencepage"
	        class="org.eclipse.koneki.ldt.editor.preference.internal.ui.LuaEditorPreferencePage"
            id="org.eclipse.koneki.ldt.editor.preferences"
	        name="%preference.editor.name"/>
	  <page
            category="org.eclipse.koneki.ldt.ui.globalpreferencepage"
	        class="org.eclipse.koneki.ldt.editor.preference.internal.ui.LuaEditorSyntaxColoringPreferencePage"
            id="org.eclipse.koneki.ldt.syntaxcoloring.preferences"
	        name="%preference.syntaxcoloring.name"/>
   </extension>
   <extension
         point="org.eclipse.dltk.ui.language">
      <language
            class="org.eclipse.koneki.ldt.editor.LuaUILanguageToolkit"
            nature="org.eclipse.koneki.ldt.nature"
            priority="0">
      </language>
   </extension>
   <extension
         point="org.eclipse.dltk.ui.completion">
      <proposalLabelProvider
            class="org.eclipse.koneki.ldt.editor.internal.completion.LuaCompletionProposalLabelProvide"
            nature="org.eclipse.koneki.ldt.nature">
      </proposalLabelProvider>
   </extension>
   <extension
         point="org.eclipse.dltk.ui.formatterFactory">
      <engineContribution
            natureId="org.eclipse.koneki.ldt.nature">
         <formatterFactory
               class="org.eclipse.koneki.ldt.editor.formatter.LuaFormatterFactory"
               id="org.eclipse.koneki.ldt.editor.LuaFormatterFactory"
               priority="10">
         </formatterFactory>
      </engineContribution>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.eclipse.koneki.ldt.ui.lua.page"
            class="org.eclipse.koneki.ldt.editor.formatter.ui.LuaFormatterPreferencePage"
            id="org.eclipse.koneki.ldt.editor.propertyPage.formatter"
            name="%preference.formatter.name">
		<enabledWhen>
			<adapt type="org.eclipse.core.resources.IProject">
				<test property="org.eclipse.core.resources.projectNature" value="org.eclipse.koneki.ldt.nature"/>
			</adapt>
		</enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.ui.edit.text.actionSet.presentation">
         <part
               id="org.eclipse.koneki.ldt.editor">
         </part>
      </actionSetPartAssociation>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            name="%context.name"
            description="%context.description"
            parentId="org.eclipse.dltk.ui.scriptEditorScope"
            id="org.eclipse.dltk.ui.luaEditorScope">
      </context>
   </extension>
</plugin>
