<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.koneki.ldt.remote.debug.ui.internal.launch.tab.LuaRemoteLaunchConfigurationTabGroup"
            id="org.eclipse.koneki.ldt.remote.debug.ui.luaRemoteApplicationLaunchTabGroup"
            type="org.eclipse.koneki.ldt.remote.debug.core.luaremotedebug"
            description="%org.eclipse.koneki.ldt.remote.debug.ui.internal.launch.tab.description">
            <launchMode
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
         <launchMode
               mode="run"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.koneki.ldt.remote.debug.core.luaremotedebug"
            icon="icons/obj16/lua_remote.png"
            id="org.eclipse.koneki.ldt.remote.debug.core.luaremotedebug.image">
      </launchConfigurationTypeImage>
   </extension>
 <extension point="org.eclipse.debug.ui.launchShortcuts">
  <shortcut
    label="Lua Remote Application"
    icon="icons/obj16/lua_remote.png"
    helpContextId="org.eclipse.jdt.debug.ui"
    modes="run, debug"
    class="org.eclipse.koneki.ldt.remote.debug.ui.internal.launch.LuaRemoteLaunchShortcut"
    description="Launch a Lua application on remote host"
    id="org.eclipse.koneki.ldt.debug.ui.localLuaShortcut">
    <description
     description="Run a Lua application on a remote host"
     mode="run">
    </description>
    <description
     description="Debug a Lua application on a remote host"
     mode="debug">
    </description>
  <contextualLaunch>
  <enablement>
    <with variable="selection">
     <count value="1"/>
      <iterate>
   		<and>
	 		<adapt type="org.eclipse.core.resources.IResource">
        		<test property="org.eclipse.core.resources.projectNature"
               		  value="org.eclipse.koneki.ldt.nature"/>
         	</adapt>
	        <or>
	        	<adapt type="org.eclipse.core.resources.IResource">
	        		<test property="org.eclipse.core.resources.extension" value="lua"/>
	        	</adapt>
	        	<adapt type="org.eclipse.core.resources.IProject">
	        		<test property="org.eclipse.core.resources.open"/>
	        	</adapt>
	        	<adapt type="org.eclipse.dltk.core.IProjectFragment">
            		<test
               			forcePluginActivation="true"
                  		property="org.eclipse.koneki.ldt.debug.ui.propertytester.isLaunchableProjectFragment">
                  	</test>
         	    </adapt>
          		<instanceof value="org.eclipse.dltk.core.IScriptFolder"></instanceof>
	        </or>
        </and>
      </iterate>
     </with>
  </enablement>
  </contextualLaunch>
  <configurationType
    id="org.eclipse.koneki.ldt.remote.debug.core.luaremotedebug">
  </configurationType>
  </shortcut>
</extension>
</plugin>
