<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?><!--
    Copyright (c) 2009, 2011 Sierra Wireless and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Sierra Wireless - initial API and implementation
 -->
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.koneki.ldt.debug.core.internal.attach.LuaAttachLaunchConfigurationDelegate"
            id="org.eclipse.koneki.ldt.debug.core.luaattachdebug"
            modes="debug"
            name="%RemoteLuaLaunchConfigurationType.name"
            sourceLocatorId="org.eclipse.koneki.ldt.debug.core.SourceLookup"
            sourcePathComputerId="org.eclipse.koneki.ldt.debug.core.SourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.dltk.debug.scriptDebugModel">
      <debugModel
            debugModelId="org.eclipse.koneki.ldt.nature.debugModel"
            natureId="org.eclipse.koneki.ldt.nature"
            typeFactory="org.eclipse.koneki.ldt.debug.core.internal.LuaTypeFactory"
            variableNameComparator="org.eclipse.koneki.ldt.debug.core.internal.LuaVariableComparator">
      </debugModel>
   </extension>
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer 
        class="org.eclipse.koneki.ldt.debug.core.internal.LuaDebugPreferenceInitializer"/>
  </extension>
    <extension
        point="org.eclipse.debug.core.sourceLocators">
        <sourceLocator
           class="org.eclipse.koneki.ldt.debug.core.internal.LuaSourceLookupDirector"
           id="org.eclipse.koneki.ldt.debug.core.SourceLookup"
           name="%LuaSourceLocator.name" />
   </extension>
   <extension 
        point="org.eclipse.debug.core.sourcePathComputers">
        <sourcePathComputer
            class="org.eclipse.koneki.ldt.debug.core.internal.attach.LuaAttachSourcePathComputer"
            id="org.eclipse.koneki.ldt.debug.core.SourcePathComputer"/>
   </extension>
    <extension
		point="org.eclipse.debug.core.watchExpressionDelegates">
		<watchExpressionDelegate
			debugModel="org.eclipse.koneki.ldt.nature.debugModel"
			delegateClass="org.eclipse.dltk.internal.debug.core.model.ScriptWatchExpressionDelegate">
		</watchExpressionDelegate>
	</extension>
</plugin>
