<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?><!--
    Copyright (c) 2009, 2011 Sierra Wireless and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Sierra Wireless - initial API and implementation
 -->

<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.koneki.ldt.category"
            name="%category.name">
      </category>
      <wizard
            category="org.eclipse.koneki.ldt.category"
            class="org.eclipse.koneki.ldt.wizards.LuaProjectWizard:org.eclipse.koneki.ldt.nature"
            finalPerspective="org.eclipse.koneki.ldt.ui.luaperspective"
            icon="icons/obj16/lua_newprj_wiz.gif"
            id="org.eclipse.koneki.ldt.wizard"
            name="%wizard.name"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.koneki.ldt.ui.luaperspective">
         <newWizardShortcut
               id="org.eclipse.koneki.ldt.wizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
